@{
    Layout = null;
 }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device=width" />
    <title>Index</title>
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
</head>
<body class="container">
    <h1 class="h1"> Welcome to Book Store Application</h1>

    <img src="~/images/logo.jpg" class="logo" alt="logo"/>

    <input type="button" value="Click me" class="btn btn-danger"/>
</body>

</html>

<script>
    $(document).ready(function () {
        alert("Page reloaded");
    });
</script>