@{ 
    ViewData["Title"] = "Home";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Bookstore</h1>
        <p class="lead text-muted">
            We believe that a reader has to learn only as much technology
            as it’s needed to fully enjoy the magic of reading. Reading in
            times of digital content is changing, but it doesn’t mean it gives
            less pleasure. Just the opposite.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search books</a>
        </p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top Books</h3>
        <div class="row">

            <div class="col-md-4">
                @*<partial name="_bookThumbnail" model="new BookModel()" />*@
                @Html.Partial("_bookThumbnail", new BookModel());
            </div>

            <div class="col-md-4">
                @*<partial name="_bookThumbnail" model="new BookModel()" />*@
                @await Html.PartialAsync("_bookThumbnail", new BookModel());
            </div>

            <div class="col-md-4">
                @*<partial name="_bookThumbnail" model="new BookModel()" />*@
                @{Html.RenderPartial("_bookThumbnail", new BookModel()); }
            </div>

            <div class="col-md-4">
                @*<partial name="_bookThumbnail" model="new BookModel()" />*@
                @{ await Html.RenderPartialAsync("_bookThumbnail", new BookModel()); }
            </div>
        </div>
    </div>
</div>

@section script{
    <script>
        $(document).ready(function () {
            //alert("this document is ready");
        });
    </script>
}
